body {
  padding: 2rem;
}

.formCase {
  display: flex;
}

.title {
  margin: 1.2rem 0;
}

.movie {
  width: 100%;
  color: #363636;
  margin: 2rem 0;
}

.movieInfo {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.movieTitle {
  font-weight: 600;
}

.movieVote {
  font-size: 1.7em;
  font-weight: 500;
  margin-right: 1rem;
}

.movieDate {
  padding: .2rem 0;
  font-size: .9em;
}

.posterCase {
  width: 30%;
  max-width: 150px;
}

.description {
  padding: 1rem;
}

.movieLink {
  width: 100%;
  display: flex;
  color: inherit;
}

@media (min-width: 800px) {
  .movie {
    width: 50%;

  }

  .movieList {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1000px) {
  .movie {
    width: 33%;
  }
}